header {
	position: sticky;
	top: 0;
	z-index: 200;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(8px);
}

header .header__logo {
	padding: 20px 0;
}
header ul.header__nav{
	align-items: stretch;
}
header ul.header__nav li{
}


header .wp-block-navigation__container>.wp-block-navigation-submenu {
	padding: 0;
}

header .wp-block-navigation__responsive-container-open svg,
header .wp-block-navigation__responsive-container-close svg {
	height: 50px;
	width: 50px;
	color: #575756;
}

header .wp-block-navigation__responsive-container-close svg {
	width: 24px;
	height: 24px;
}

.pb-lang-switch {
	margin-top: 5px;
}

header .current-menu-item {
	/* font-weight: bolder; */
	color: white !important;
	background-color: #2f8540 !important;
}

header .current-menu-ancestor>a>.wp-block-navigation-item__label {
	font-weight: 700;
	/* color: #232323 !important; */
}

header .wp-block-navigation .wp-block-navigation__submenu-icon {
	margin-left: 0.5em;
	background-color: transparent !important;
}

header .wp-block-navigation__responsive-dialog {
	color: #5e5c54 !important;
}

@media (min-width: 961px) {
	header .wp-block-navigation__container>.wp-block-navigation-item>a {
		position: relative;
		padding: 35px 21px 35px 12px;
		/* height: 100%; */
	}

	header .wp-block-navigation__container>.wp-block-navigation-item a {
		/* white-space: nowrap */
	}

	header .wp-block-navigation__submenu-container li {
		margin-bottom: 2px !important;
	}

	header .wp-block-navigation li.wp-block-navigation-item.has-child {
		padding: 35px 21px 35px 12px;
		/* height: 100%; */

	}

	header .wp-block-navigation li.wp-block-navigation-item.has-child>a {
		padding: 0;
	}

	header .wp-block-navigation__container>.wp-block-navigation-item>a::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		background-color: #2f8540;
		transition:
			width 0.3s,
			height 0.3s,
			left 0.3s,
			top 0.3s;
		z-index: -1;
	}

	header .wp-block-navigation .wp-block-navigation-item {
		background-color: transparent;
		transition: 0.3s ease;
	}

	header .header__nav>.wp-block-navigation-submenu:hover {
		box-shadow:
			inset 1px 0 0 0 rgb(255, 255, 255),
			/* зліва */
			inset -1px 0 0 0 rgb(255, 255, 255);
		/* справа */
	}


	header .wp-block-navigation .wp-block-navigation-item:hover {
		background-color: #2f8540;
		color: white !important;
		box-shadow:
			inset 2px 0 0 0 rgb(255, 255, 255),
			/* зліва */
			inset -2px 0 0 0 rgb(255, 255, 255);
		/* справа */


	}

	header .wp-block-navigation__container>.current-menu-ancestor {
		background-color: #2f8540;
		color: white !important;
	}

	header .wp-block-navigation__container>.current-menu-item {
		background-color: #2f8540;
		color: white !important;
	}

	header .wp-block-navigation__container>.wp-block-navigation-item:hover>a::after,
	header .wp-block-navigation__container>.current-menu-item>a::after,
	header .wp-block-navigation__container>.current-menu-ancestor>a::after {
		transform: scaleX(1);
	}
}

/* гарантія, що у підпунктів немає нижнього підкреслення */
header .wp-block-navigation__submenu-container .wp-block-navigation-item>a::after {
	content: none !important;
}

/* сабменю: вертикальна смужка */
header .wp-block-navigation__submenu-container .wp-block-navigation-item>a {
	position: relative;
}

header .wp-block-navigation__submenu-container .wp-block-navigation-item>a>span {
	padding: 1px 56px 4px 32px;
	margin-bottom: 2px;
}

header .wp-block-navigation__submenu-container .wp-block-navigation-item>a {
	padding: 0px;
}

header .wp-block-navigation__submenu-container .wp-block-navigation-item:hover>a::before,
header .wp-block-navigation__submenu-container .current-menu-item>a::before,
header .wp-block-navigation__submenu-container .current-menu-ancestor>a::before {
	transform: scaleY(1);
}

.open-on-hover-click {
	cursor: pointer;
}

@media (min-width: 961px) {
	header .wp-block-navigation__submenu-container {
		padding: 15px 17px 19px 0px !important;
		/* border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px; */
		background-color: rgba(255, 255, 255, 0.9) !important;
		backdrop-filter: blur(20px);
		/* border-right: 0px !important; */
	}

	/* header .wp-block-navigation .wp-block-navigation-item {
		background-color: transparent;
	} */
}

header .wp-block-navigation .has-child .wp-block-navigation__submenu-container {
	left: 0px;
}

/* Ховає текст, залишає іконку */
header a.wp-block-navigation-item__content[href="/search"] {
	font-size: 0;
}

header a.wp-block-navigation-item__content[href="/search"] img {
	font-size: initial;
}

header .header_logo-mobile {
	display: none;
}

header .wp-element-button:hover {
	background-color: red !important;
}

header .wp-block-navigation__container {
	gap: 0;
}

@media (max-width: 960px) {

	/* current page */
	header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-dialog .wp-block-navigation__container>li.current-menu-item>a.wp-block-navigation-item__content {
		background-color: #2f8540 !important;
		color: #fff !important;
	}

	header .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
		white-space: normal;
	}

	header .wp-block-navigation__responsive-dialog .wp-block-navigation__container>li.wp-block-navigation-item:first-child {
		margin-bottom: 40px;
	}

	header .wp-block-navigation__responsive-dialog .wp-block-navigation__container>li.wp-block-navigation-item:first-child>a:hover {
		background: none;
		color: white;
	}

	header .wp-block-navigation__responsive-dialog .wp-block-navigation__container>li.wp-block-navigation-item {
		margin-bottom: 24px;
	}

	/* Увесь блок навігації: і десктоп, і офканвас */
	header .wp-block-navigation a.wp-block-navigation-item__content {
		padding-left: 24px !important;
	}

	header .wp-block-navigation .wp-block-navigation__submenu-container>li.current-menu-item>a.wp-block-navigation-item__content {
		background: #2f8540;
		color: white;
	}

	header .wp-block-navigation a.wp-block-navigation-item__content:hover {
		background: #589d66;
		color: white;
	}

	header .wp-block-navigation__responsive-container {
		overflow: visible !important;
	}

	header .header_logo-mobile {
		display: block;
	}

	header {
		--wp--style--block-gap: 6px;
		font-size: xx-large;
	}

	header a.wp-block-navigation-item__content[href="/search"] {
		font-size: initial;
	}

	header a>.wp-block-navigation-item__label {
		font-weight: 700;
	}

	header .wp-block-navigation__responsive-container {
		position: fixed;
		inset: 0;
		z-index: 9999;
		background-color: transparent !important;
		padding: 0;
	}

	header .wp-block-navigation__responsive-container::before {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.6);
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	header .wp-block-navigation__responsive-dialog {
		margin-top: 0 !important;
		padding: 16px 24px 16px 0px !important;
	}

	header .wp-block-navigation__responsive-container .wp-block-navigation__responsive-dialog {
		position: fixed;
		top: 0;
		right: 0;
		width: 350px;
		max-width: 100%;
		height: 100dvh;
		background: #fff;
		transform: translateX(100%);
		transition: transform 0.13s ease;
		padding: 32px;
	}

	header .wp-block-navigation__responsive-container .wp-block-navigation__responsive-dialog::before {
		position: absolute;
		content: "";
		bottom: 0;
		right: 0;
		width: 350px;
		max-width: 100%;
		height: 21dvh;
		background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
			linear-gradient(90deg, #589D66 0%, #326B8F 100%);
	}

	header .wp-block-navigation__responsive-container-close {
		top: 16px;
		right: 32px;
		border: 1px solid transparent;
		/* тримаємо місце під рамку */
		border-radius: 5px;
		transition: border-color 0.2s ease;
		/* плавна поява */
	}

	header .wp-block-navigation__responsive-container-close:hover,
	header .wp-block-navigation__responsive-container-close:focus-visible {
		border-color: #575756;
	}

	header .wp-block-navigation__responsive-container.is-menu-open::before {
		opacity: 0.6;
		height: 100vh;
	}

	header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-dialog {
		transform: translateX(0);
	}

	header .wp-block-navigation-item__label {
		font-size: x-large;
		font-weight: 700;
	}

	header .wp-block-navigation__submenu-container .wp-block-navigation-item__label {
		font-size: large;
		font-weight: 500;
	}

	header .wp-block-navigation__responsive-container-content {
		padding-top: 0 !important;
	}

	header .flag-uk::before,
	header .flag-en::before {
		content: "";
		display: inline-block;
		width: 1.2em;
		/* ширина прапора */
		height: 0.9em;
		/* висота прапора */
		margin-right: 0.4em;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		vertical-align: middle;
	}

	/* ТУТ вставиш свої URI */
	header .flag-uk::before {
		background-image: url("/wp-content/plugins/translatepress-multilingual/assets/flags/4x3/uk.svg");
	}

	header .flag-en::before {
		background-image: url("/wp-content/plugins/translatepress-multilingual/assets/flags/4x3/en_US.svg");
	}
}

/* ПЕРЕХІД ДО МОБІЛЬНОГО МЕНЮ */
@media (max-width: 960px) {

	.wp-block-navigation__responsive-container-open,
	.wp-block-navigation__responsive-container-close {
		display: block !important;
	}

	.wp-block-navigation__responsive-container {
		display: none !important;
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		display: block !important;
	}

	.wp-block-navigation:not(.has-text-color) .wp-block-navigation__responsive-container.is-menu-open {
		color: #232323;
	}
	
	header .wp-block-navigation__submenu-container .wp-block-navigation-item>a>span {
		padding: 0px;
	}
}

/* показуємо звичайне меню */
@media (min-width: 961px) {

	.wp-block-navigation__responsive-container-open,
	.wp-block-navigation__responsive-container-close {
		display: none !important;
	}

	.wp-block-navigation__responsive-container {
		display: block !important;
	}
}